@import url("https://use.typekit.net/orh5kkr.css");
/* Colors
#333
#efefef
#ce643b
--------------------------- */

/* Global
--------------------------- */
html {
  --main-color: #ce643b;
  --bg-color: #333;
  --main-text: #efefef;
  --ratio: 9/16;
  --hor-padding: 25px;
  --sib-spacing: 10px;
  --new-section: 25px;
  --footer: 75px;

  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bg-color);
  font-family: "brandon-grotesque", sans-serif;
  margin: 0 auto;
}

h1,
h2 {
  font-family: linotype-didot, serif;
}

nav a {
  color: var(--main-text);
  text-decoration: none;
}

/* Header
--------------------------- */
header {
  background: black;
  padding: var(--hor-padding) 0;
  position: sticky;
  top: 0;
  z-index: 5;
}

header h1 {
  margin: var(--sib-spacing) 0;
  font-size: 1.5rem;
  text-transform: lowercase;
  text-align: center;
  font-weight: 700;
  color: var(--main-text);
  word-spacing: -2px;
}

nav {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid coral;
}

nav > div {
  display: flex;
  flex: 1;
}

nav div:last-child {
  justify-content: flex-end;
}

div a {
  padding: 0 20px;
  border: 1px solid rebeccapurple;
}

.thin-letters {
  font-weight: 400;
}

/* Footer
--------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background: black;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer div {
  width: 35px;
}

footer a {
  display: flex;
  align-items: center;
}

/* HOME *********************/
main.home {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--new-section);
  border: 1px solid red;
  /* width: 80%; */
  margin: 0 auto;
  /* padding: 0 var(--glb-padding); */
  /* gap: 5px; */
  /* padding: 5px; */
  /* margin: 0 15px; */
  /* margin: 0 auto; */
  /* padding: 15px; */
}

iframe {
  filter: drop-shadow(rgba(34, 34, 34, 0.75) 0.125rem 0.125rem 2.5px);
}

.video-sizing {
  width: 100%;
  height: calc(100vw * var(--ratio));
}

.motion-graphics {
  margin-bottom: 75px;
}

/* ABOUT *********************/
main.about {
  margin: 0 auto;
  max-width: 600px;
}

main.about h2 {
  margin: 0 0 2px 0;
  font-weight: 500;
  font-size: 2rem;
  color: var(--main-text);
}

main.about img {
  width: 100%;
  filter: drop-shadow(rgba(34, 34, 34, 0.75) 0.125rem 0.125rem 2.5px);
}

.bio {
  margin: 15px 15px;
}

.about p {
  margin: 0 0 18px 0;
  line-height: 30px;
  color: var(--main-text);
  font-size: 1rem;
}

.bio:last-child {
  margin-bottom: 70px;
}

/* Responsive *********************/
/* ABOUT *********************/
@media (min-width: 520px) {
  .bio,
  .portrait {
    width: 70%;
    margin: 20px auto 0;
  }

  .portrait img {
    border-radius: 10px;
  }

  .bio:last-child {
    margin-bottom: 0;
  }
}

/* HOME *********************/
/* @media (min-width: 692px) {
  main.home {
    max-width: 600px;
    padding: 0;
  }

  main.home h2 {
    padding: 0;
    margin: 20px 0 20px 0;
  }

  iframe {
    margin: 0;
    border-radius: 10px;
  }

  .gallery-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .video-sizing {
    --container-width: 18em;

    width: 100%;
    max-width: var(--container-width);

    height: calc(100vw * var(--ratio));
    max-height: calc(var(--container-width) * var(--ratio));
  }
} */
