/* Colors
#333
#efefef
#ce643b
--------------------------- */

/* Global
--------------------------- */
html {
  --ratio: 360/640;
  --main-text: #efefef;
  --bg-color: #333;
  --accent-color: #ce643b;

  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bg-color);
  margin: 0 auto;
  font-family: "Schibsted Grotesk", sans-serif;
}

h1,
h2 {
  font-family: "Libre Bodoni", serif;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--main-text);
}

.main-font {
  font-family: "bodoni-pt-variable", sans-serif;
  font-variation-settings: "opsz" 10, "wght" 400;
}

/* Header
--------------------------- */
header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 15px;
  background: black;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: lowercase;
  flex: 1;
  font-weight: 700;
  color: var(--main-text);
  word-spacing: 2px;
}

nav {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: 8px;
  padding: 0;
}

nav li {
  padding: 10px 15px;
  background: var(--bg-color);
  border-radius: 25px;
  flex: 0;
}

.thin-letters {
  font-weight: 400;
}

.active {
  background: var(--accent-color);
}

/* Footer
--------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background: black;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer div {
  width: 35px;
}

footer a {
  display: flex;
  align-items: center;
}

/* HOME *********************/
main.home {
  margin: 0 auto;
}

main.home h2 {
  margin: 20px 0;
  text-transform: lowercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--main-text);
}

iframe {
  filter: drop-shadow(rgba(34, 34, 34, 0.75) 0.125rem 0.125rem 2.5px);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.video-sizing {
  width: 100vw;
  height: calc(100vw * var(--ratio));
}

.motion-graphics {
  margin-bottom: 75px;
}

/* ABOUT *********************/
main.about {
  margin: 0 auto;
  max-width: 600px;
}

main.about h2 {
  margin: 0 0 2px 0;
  font-weight: 400;
  font-size: 2rem;
  color: var(--main-text);
}

main.about img {
  width: 100%;
  filter: drop-shadow(rgba(34, 34, 34, 0.75) 0.125rem 0.125rem 2.5px);
}

.bio {
  margin: 15px 15px;
}

.about p {
  margin: 0 0 18px 0;
  line-height: 20px;
  color: var(--main-text);
  font-size: 0.8rem;
}

.bio:last-child {
  margin-bottom: 70px;
}

/* Responsive *********************/
/* ABOUT *********************/
@media (min-width: 520px) {
  .bio,
  .portrait {
    width: 70%;
    margin: 20px auto 0;
  }

  .portrait img {
    border-radius: 10px;
  }

  .bio:last-child {
    margin-bottom: 0;
  }
}

/* HOME *********************/
@media (min-width: 692px) {
  main.home {
    max-width: 600px;
    padding: 0;
  }

  main.home h2 {
    padding: 0;
    margin: 20px 0 20px 0;
  }

  iframe {
    margin: 0;
    border-radius: 10px;
  }

  .gallery-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .video-sizing {
    --container-width: 18em;

    width: 100%;
    max-width: var(--container-width);

    height: calc(100vw * var(--ratio));
    max-height: calc(var(--container-width) * var(--ratio));
  }
}
