/* Global
--------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* padding: 0 15px; */
  margin: 0 auto;
  font-family: "Schibsted Grotesk";
}

h1,
h2 {
  font-family: "Libre Bodoni";
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #e6e6e6;
}

/* Header
--------------------------- */
header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  max-height: 75px;
  padding: 0 15px;
  background: black;
  /* border: 1px solid blue; */
}

header h1 {
    margin: 0;
    font-size: 1.25em;
    text-transform: lowercase;
    flex: 1;
    font-weight: 700;
    color: #e6e6e6;
    word-spacing: .1em;
  }

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 0.5em;
  padding: 0;
}

nav li {
  padding: 10px 8px;
  background: gray;
  border-radius: 25px;
  flex: 0;
  font-weight: 600;
  font-size: 0.85em;
}

.thin-letters {
    font-weight: 400;
}

/* Footer
--------------------------- */

/* HOME *********************/
/* Main
--------------------------- */
main {
  margin: 0 15px;
}

section iframe {
  border-radius: 10px;
}

.advertisements div,
.documentary div,
.motion-graphics div {
  margin-bottom: 10px;
}

h2 {
  text-transform: lowercase;
  font-weight: 400;
  margin: 15px 0;
  font-size: 1.5em;
}



/* ABOUT *********************/
main img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}
.about h2 {
  margin: 0;
  text-transform: none;
  font-size: 2.5em;
}

.about p {
  margin: 0 0 15px 0;
  line-height: 1.25em;
}
